* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  
  :root {
    --header--bg: #1d2127;
  
    --p_text: #aaaeb6;
  
    --navigation-color: #d1d7e0;
    --nav-background: #252930;
    --case-btn: #ffa217;
  
    /* BORDER */
    --light-green: #3f8e00;
    --border-bg: #62ba1b;
  
    --font-family: "Raleway", sans-serif;
    --font-family2: "IBM Plex Mono", monospace;
  }
  
  /* SECTION */
  section {
    width: 100%;
    height: 628px;
    flex-shrink: 0;
    background-color: var(--header--bg);
  }
  
  section nav {
    width: 90%;
    height: 70px;
    flex-shrink: 0;
    margin-left: 75px;
    padding-top: 25px;
    background: var(--nav-background);
    border-radius: 0px 0px 8px 8px;
  }
  
  section nav ul {
    list-style: none;
    text-align: center;
  }
  
  section nav ul li {
    display: inline-block;
    font-size: 22px;
    line-height: normal;
    font-family: var(--font-family2);
    font-weight: 400;
    letter-spacing: 0.14px;
    margin: 0px 60px;
  }
  
  section nav ul li a {
    text-decoration: none;
    color: var(--navigation-color);
    cursor: pointer;
    transition: 0.4s;
  }
  
  section nav ul li a:hover {
    color: orange;
    text-decoration: underline;
  }
  
  section .text {
    position: absolute;
    top: 220px;
    left: 7%;
  }
  
  section .text h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--navigation-color);
    font-family: var(--font-family);
    align-self: stretch;
  }
  
  section .text .textarea {
    width: 400px;
    margin-top: 10px;
    font-family: var(--font-family2);
    color: var(--p_text);
  }
  
  section .text_btn {
    width: 320px;
    display: flex;
    padding: 21px 64px;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  
    border-radius: 4px;
    border: 1px solid var(--border-bg);
    background: var(--light-green);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
  }
  
  section .text_btn .btn {
    text-decoration: none;
    font-family: var(--font-family2);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--header_text);
    text-align: center;
    transition: 0.5s;
  }
  
  section .text_btn .btn:hover {
    color: var(--navigation-color);
  }
  
  section .text_btn path {
    fill: var(--header_text);
  }
  section .text_btn path:hover {
    fill: var(--navigation-color);
  }
  
  section .circle {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 350px;
    background: url(/Image/act_2_ramos_rafael.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: 350px;
  
    margin-left: 40em;
    margin-top: -18em;
  }
  
  /* CASE STUDIES */
  
  .case_study {
    width: 100%;
    height: 1250px;
    flex-shrink: 0;
    background: var(--nav-background);
    padding: 50px 0px;
  }
  
  .case_study .case_text {
    position: relative;
    width: 897px;
  }
  
  .case_study .case_text h2 {
    width: 600px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--navigation-color);
  
    left: 12em;
    position: absolute;
  }
  
  .case_study .case_text p {
    width: 570px;
    color: var(--p_text);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  
    top: 50px;
    position: absolute;
    left: 30em;
  }
  
  /* IMAGE 1 */
  .case_study .case_title {
    width: 892px;
    height: 300px;
    flex-shrink: 0;
    padding-top: 230px;
    padding-left: 70px;
  
    position: relative;
    left: 8em;
  }
  
  .case_study .case_title h2 {
    color: var(--navigation-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .case_study .case_title p {
    width: 421px;
    color: var(--p_text);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }
  
  .case_study .case_btn {
    width: 260px;
    display: inline-flex;
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    margin-top: 20px;
  }
  
  .case_study .case_btn .c_btn {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .case_study .case_img {
    width: 460px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #d9d9d9;
  
    background: url(/Image/Study.JPG), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 460px;
  
    margin-left: 39em;
    margin-top: -15em;
  }
  
  /* IMAGE 2 */
  .case_study .case_title2 {
    width: 892px;
    height: 300px;
    flex-shrink: 0;
    padding-top: 300px;
    padding-left: 70px;
    padding-bottom: 80px;
  
    position: relative;
    left: 8em;
  }
  
  .case_study .case_title2 h2 {
    width: 340px;
    color: var(--navigation-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  
    margin-left: 25.6em;
  }
  
  .case_study .case_title2 p {
    width: 500px;
    color: var(--p_text);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  
    margin-left: 44em;
  }
  
  .case_study .case_btn2 {
    width: 260px;
    /* display: inline-flex; */
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
  
    margin-left: 38.5em;
    margin-top: 10px;
  }
  
  .case_study .case_btn2 .c_btn2 {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    margin-left: 8px;
  }
  
  .case_study .case_img2 {
    width: 440px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #d9d9d9;
  
    background: url(/Image/Physical.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
  
    margin-top: -15em;
  }
  
  /* IMAGE 3 */
  
  .case_study .case_title3 {
    width: 892px;
    height: 300px;
    flex-shrink: 0;
    padding-top: 230px;
    padding-left: 70px;
  
    position: relative;
    left: 8em;
  }
  
  .case_study .case_title3 h2 {
    color: var(--navigation-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .case_study .case_title3 p {
    width: 421px;
    color: var(--p_text);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }
  
  .case_study .case_btn3 {
    width: 260px;
    display: inline-flex;
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    margin-top: 20px;
  }
  
  .case_study .case_btn3 .c_btn3 {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    margin-left: 8px;
  }
  .case_study .case_img3 {
    width: 460px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #d9d9d9;
  
    background: url(/Image/Fam-Bonding.png), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px;
  
    margin-left: 38em;
    margin-top: -15em;
  }
  
  /* HOBBY */
  
  .hobby {
    width: 100%;
    height: 700px;
    background-color: var(--header--bg);
  }
  
  .hobby h2 {
    text-align: center;
    padding-top: 50px;
    font-family: var(--font-family);
    color: var(--navigation-color);
    font-size: 54px;
    font-weight: 400;
  }
  
  .hobby .h_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .hobby .h_box .h_card {
    width: 100%;
    height: 419px;
  }
  
  .hobby .h_box .h_card .h_img {
    width: 380px;
    height: 333px;
    border-radius: 35px;
    flex-shrink: 0;
    margin: 40px 60px;
    overflow: hidden;
  }
  
  .hobby .h_box .h_card .h_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .hobby .h_btn {
    width: 260px;
    display: inline-flex;
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    margin-top: -20px;
    margin-left: 7em;
  }
  
  .hobby .h_btn .h_btn1 {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    padding-left: 13px;
  }
  
  /* FAVORITE FOOD */
  
  .fav_food {
    width: 100%;
    height: 1250px;
    flex-shrink: 0;
    background: var(--nav-background);
    padding: 50px 0px;
  }
  
  .fav_food .food_text {
    position: relative;
    width: 897px;
  }
  
  .fav_food .food_text h2 {
    width: 600px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--navigation-color);
  
    left: 12em;
    position: absolute;
  }
  
  .fav_food .food_text p {
    width: 570px;
    color: var(--p_text);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  
    top: 50px;
    position: absolute;
    left: 30em;
  }
  
  /* IMAGE 1 */
  .fav_food .food_title {
    width: 892px;
    height: 300px;
    flex-shrink: 0;
    padding-top: 230px;
    padding-left: 70px;
  
    position: relative;
    left: 8em;
  }
  
  .fav_food .food_title h2 {
    color: var(--navigation-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .fav_food .food_title p {
    width: 421px;
    color: var(--p_text);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }
  
  .fav_food .food_btn {
    width: 260px;
    display: inline-flex;
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    margin-top: 20px;
  }
  
  .fav_food .food_btn .f_btn {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .fav_food .food_img {
    width: 460px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #d9d9d9;
  
    background: url(/Image/adobo.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 540px;
  
    margin-left: 39em;
    margin-top: -15em;
  }
  
  /* IMAGE 2 */
  .fav_food .food_title2 {
    width: 892px;
    height: 300px;
    flex-shrink: 0;
    padding-top: 300px;
    padding-left: 70px;
    padding-bottom: 80px;
  
    position: relative;
    left: 8em;
  }
  
  .fav_food .food_title2 h2 {
    width: 340px;
    color: var(--navigation-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  
    margin-left: 25.6em;
  }
  
  .fav_food .food_title2 p {
    width: 500px;
    color: var(--p_text);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  
    margin-left: 44em;
  }
  
  .fav_food .food_btn2 {
    width: 260px;
    /* display: inline-flex; */
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
  
    margin-left: 38.5em;
    margin-top: 10px;
  }
  
  .fav_food .food_btn2 .f_btn2 {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    margin-left: 8px;
  }
  
  .fav_food .food_img2 {
    width: 440px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #d9d9d9;
  
    background: url(/Image/chapsuy.png), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
  
    margin-top: -15em;
  }
  
  /* IMAGE 3 */
  
  .fav_food .food_title3 {
    width: 892px;
    height: 300px;
    flex-shrink: 0;
    padding-top: 230px;
    padding-left: 70px;
  
    position: relative;
    left: 8em;
  }
  
  .fav_food .food_title3 h2 {
    color: var(--navigation-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .fav_food .food_title3 p {
    width: 421px;
    color: var(--p_text);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }
  
  .fav_food .food_btn3 {
    width: 260px;
    display: inline-flex;
    padding: 15px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--case-btn);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    margin-top: 20px;
  }
  
  .fav_food .food_btn3 .f_btn3 {
    text-decoration: none;
    color: var(--navigation-color);
    font-family: var(--font-family2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.4s;
    margin-left: 8px;
  }
  .fav_food .food_img3 {
    width: 460px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #d9d9d9;
  
    background: url(/Image/sisig.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px;
  
    margin-left: 38em;
    margin-top: -15em;
  }
  
  footer {
    text-align: center;
    margin-top: 10px;
    font-family: var(--font-family);
  }
  